POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_APP_DB=inventory_order_demo

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/inventory_order_demo
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/inventory_order_demo_test
